body {
	padding-top: 100px;
}
.row {
	margin-top: 10px;
}
select {
	width: 120px;
}
.container {
	margin-top: 15px;
}
.content {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.content-result {
	justify-content: space-between;
}
.sel-item {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.item-label {
	text-align: center;
}
.label-result {
	text-align: left;
}
